<div class="co">
  <div class="left-1">
    <div class="top">
      <a href=""><img src="images/wangxiulian.jpg" alt=""></a>
      <p class="me">2-王秀莲</p>
      <div class="fan">
        <a href="">
          <span class="c">0</span>
          <p>粉丝</p>
        </a>
        <a href="">
          <span class="c">0</span>
          <p>关注</p>
        </a>
      </div>
    </div>
    <hr>
    <div class="left-2">
        <ul>
          <li><a href="">任务</a></li>
          <li><a [routerLink]="['/tongbu']">同步课</a></li>
          <li><a [routerLink]="['/course']">课程</a></li>
          <li><a href="">且说</a></li>
          <li><a href="">通知</a></li>
        </ul>
      </div>
  </div>
  <div class="right">
    <div class="right-1">
      <div class="list">
        <ul>
          <li><a href="">未提交</a></li>
          <li><a href="">已完成</a></li>
          <li><a href="">已完结</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="right-2">
        <div class="t">您当前的同步课任务已经全部完成</div>
    </div>
  </div>
</div>
